{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/upload.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Adding a new product</h1>

                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div id="progress-bar"></div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}

                {% for file in files %}
                    Télécharger : <a href="#">{{ file.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
