{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>

                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username) }}
                        {{ form_errors(registrationForm.username) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                    <button type="submit" class="btn btn-primary">M'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
